html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


body {
  margin: 0;
  font-family: sans-serif;
}

.root {
  overflow-x: hidden;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

input {
  max-width: 5rem;
}

input,
button,
select {
  font: inherit;
  font-size: 1rem;
  line-height: normal;
  margin: 0;
  padding: 1rem;
  width: auto;
  overflow: visible;
  background: transparent;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  margin-right: 1rem;
  border-radius: 8px;
  text-align: center;
  border: 1px solid #ddd;
}

.sub {
  font-size: 0.8rem;
  color: #aaa;
}

.button-group {
  margin-bottom: 1.5rem;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.dragger {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #aac4ee;
}

.item {
  background-color: #fff;
  outline: 0;
  border: 0;
  display: inline-block;
  padding: 0;
  border: 4px solid #333;
  border-radius: 20px;
  /* margin: 0 1rem; */
  margin-right: 1rem;
  font-size: 1rem;
}

.item:last-child {
  margin-right: 0;
}

.inner {
  padding: 2rem 5rem;
}
