html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: sans-serif;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.dragger {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.btn {
  background-color: #fff;
  outline: 0;
  border: 0;
  display: inline-block;
  padding: 0;
  border: 4px solid #333;
  border-radius: 16px;
  margin: 0 1rem;
  font-size: 1rem;
}

.inner {
  padding: 4rem 10rem;
}
