.outer {
  position: relative;
  background-color: palegoldenrod;
  width: 100%;
  overflow: hidden;
  cursor: grab;
}

.inner {
  white-space: nowrap;
  position: relative;
  user-select: none;
  -webkit-overflow-scrolling: touch;
  will-change: transform;
  display: inline-block;
}

.isDragging {
  cursor: grabbing;
}


.isDisabled {
  /* opacity: 0.5; */
  cursor: default;
}




/* body.grabbing {
  cursor: -webkit-grabbing !important;
  cursor: grabbing !important;
} */